.allWrap {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 650px;
  background-image: url('~assets/images/mountain.jpg');
  background-size: cover;
  background-position: center center;

  .login-container {
    min-width: 380px;
    height: calc(100vh - 57px);
    margin: 0 auto;
    .login-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 65vh;
      min-height: 400px;
      margin-top: 12.5vh;
      background-color: rgba(#eee, 0.8);
      border: solid 1px #fff;
      border-radius: 10%;
      .login-title {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6em;
      }
      .login-form {
        .input-wrap {
          width: 80%;
          margin: 0 auto 5%;
          .inputSymbol {
            padding-right: 0;
            padding-left: 0;
          }
          .input {
            margin: 0 auto;
            padding: 0;
            border-top: none;
            border-right: none;
            border-bottom: solid 1px;
            border-left: none;
            border-radius: 0%;
            background-color: transparent;
            box-shadow: none;
            font-size: 1.2em;
          }
        }
      }
      .container-login-form-btn {
        justify-content: center;
        .login-form-btn {
          background-color: #c4d929;
          border-color: transparent;
          color: #fff;
        }
      }
      .login_hr {
        margin: 0;
        border-top: 1px solid #fff;
      }
      .login-authentication {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 10%;
        .login-auth_btn {
          cursor: pointer;
          padding: 0;
          width: 70px;
          height: 70px;
          border: none;
          border-radius: 100%;
        }
        .login-auth-facebook {
          color: #fff;
          background-color: #0057ac;
        }
        .login-auth-twitter {
          color: #fff;
          background-color: #00aff5;
        }
        .login-auth-github {
          padding-top: 1px;
          padding-left: 1px;
          color: #24292e;
          background-color: #fff;
        }
        .github-symbol {
          font-size: 69px;
        }
      }
    }
  }
}