p {
  margin: 0;
  padding: 0;
}
.allWrap {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 650px;
  background-image: url('~assets/images/mountain.jpg');
  background-size: cover;
  background-position: center center;

  .regist-container {
    min-width: 400px;
    height: calc(100vh - 57px);
    margin: 0 auto;
    .regist-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 82vh;
      min-height: 460px;
      margin-top: 4vh;
      background-color: rgba(#eee, 0.8);
      border: solid 1px #fff;
      border-radius: 10%;
      .regist-title {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.6em;
      }
      .regist-confirm {
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.2em;
      }
      .regist-confirm-password {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
      .regist-confirm-password-symbol {
        cursor: pointer;
      }
      .regist-form {
        .symbolAndInput {
          width: 80%;
          margin: 0 auto 5%;
          .inputSymbol {
            padding-right: 0;
            padding-left: 0;
          }
          .input {
            margin: 0 auto;
            padding: 0;
            border-top: none;
            border-right: none;
            border-bottom: solid 1px;
            border-left: none;
            border-radius: 0%;
            background-color: transparent;
            box-shadow: none;
            font-size: 1.2em;
          }
          // .input-error-active {
          //   border-bottom: #c81912 solid 2px;
          // }
        }
        .input-error-msg {
          width: 80%;
          margin: -5% auto 5%;
          padding-left: 7%;
          font-size: 0.9em;
          color: #f34573;
        }
      }
      .container-regist-form-btn {
        justify-content: center;
        .regist-form-btn {
          background-color: #c4d929;
          border-color: transparent;
          color: #fff;
        }
      }
      .regist_hr {
        margin: 0;
        border-top: 1px solid #fff;
      }
      .regist-authentication {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 10%;
        .regist-auth_btn {
          cursor: pointer;
          padding: 0;
          width: 70px;
          height: 70px;
          border: none;
          border-radius: 100%;
        }
        .regist-auth-facebook {
          color: #fff;
          background-color: #0057ac;
        }
        .regist-auth-twitter {
          color: #fff;
          background-color: #00aff5;
        }
        .regist-auth-github {
          padding-top: 1px;
          padding-left: 1px;
          color: #24292e;
          background-color: #fff;
        }
        .github-symbol {
          font-size: 69px;
        }
      }
    }
  }
}